.folder{
    width: 90vw;
    height: 90vh
}
.Branding{
    background-color: rgba(0, 0, 0, 0);
    width: 90vw;
    height: 90vh;
    margin: auto;
    padding-top: 3rem;
    position: absolute;
}
.LogoBG{
    width: 90vw;
    height: 100vh;
    margin: auto;
    position: absolute;
}
