.Container{
    background-color:inherit;
    margin-top: 0.5rem;
}
.Container>a{
    background-color:inherit;
}
.icoSocial{
    margin: auto 0.4rem;
    background-color:inherit;
}
.icoSocial:hover{
    background-color:inherit;
    width: 3rem;
    height: 3rem;
    transition: all 1s;
    transition-timing-function: ease;
}
