.About{
    width: 90vw;
    margin: auto;
    border: 1px solid rgb(12, 40, 77);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}


.Estudio{
    flex: 1;
    
}
.Estudio header{
    font-size: 5rem;
    margin: auto;
    text-align: center;
}
.Estudio section{
    text-align: justify;
    width: 50vw;
    margin: auto;
}


.Staff{
    width: 70vw;
    margin: 3rem auto auto auto;
    flex: 1;
    
}

.Staff header{
    font-size: 2rem;
    font-weight: 600;
    
}
.Staff section{
    text-align: justify;
    width: 60vw;
}


.Pics{
    width: 17rem;
    height: 100%;
    border-radius: 40rem;
}