.Contact{
    width: 70rem;
    margin: auto;
    text-align: center;
    display: flex
}

.Maps {
    border: 0;
    border-radius: 1rem;
    width:40rem;
    height:23rem;
}
.Infos{
    display: flexbox;    
}
.Infos > a{
    text-decoration: none;
}
.Contact > .Infos > .Input{
    display: flex;
    flex-direction: column;
    background-color: #122a49;
    border-radius: 1rem;
    margin: 1rem auto;
    width: 25rem;
    padding: 1rem;
}

.Resto{
    text-align: center;
    margin: 4rem auto;
}

.Input > header{
    background-color: inherit;
}

.Input > section{
    background-color: inherit;
}

.Input > header, section, footer{
    background-color: inherit;
}
.icoInfo{
    background-color: inherit;
}