.Contact{
    display: flex;
    width: fit-content;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}

.Maps {
    border: 0;
    border-radius: 1rem;
    width:25rem;
    height: 22rem;
    margin: 1rem auto;
    
}
.Infos{
    margin: 1rem auto ;
    
}
.Infos > a{
    text-decoration: none;
}

.Contact > .Infos > .Input{
    display: flex;
    flex-direction: column;
    background-color: #122a49;
    border-radius: 1rem;
    margin: 1rem auto;
    width: 25rem;
    
    padding: 1rem;
}

.Contact > .Infos > .Input:hover{
    background-color: #1e4577;
}
.Resto{
    text-align: center;
    margin: 4rem auto;
}

.Input > header{
    background-color: inherit;
}

.Input > section{
    background-color: inherit;
}

.Input > header, section, footer{
    background-color: inherit;
}
.icoInfo{
    background-color: inherit;
}