.Menu {
    position: fixed;
    background-color:rgb(26, 104, 150);
    z-index: 3000;
    top: 2rem;
    right: 0;
    box-shadow: 0px 0px 1px 7px #2a354b1e;
    width: fit-content;
    height: 6rem;
    align-self: center;
    text-align: right;
}
