.PlayerLayout{
    display: flex;
    text-align: center;
    margin: auto;
    width: 45vw;


}

.Player{
    border-radius: 1.5rem;
    padding: 1rem;
    margin: auto;
    width: 50%;
    height: 25rem;
}



@media (max-width:1024px) {
    .PlayerLayout{
        flex-direction: column;
    }
    .Player{
        width: 100%;
    }
}