*{
    @import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    color: white;
    font-family: 'Mada', sans-serif;
    background-color: #000000;
    
    max-width: 1920px;
    display: flexbox;
}

body{
    background: #232526;
    background: -webkit-linear-gradient(to right, #161616, #000000, #161616);
    background: linear-gradient(to right, #161616, #000000, #161616);
    
}