.Subs {
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    padding-right: 6.5rem;
    text-decoration: overline;
    text-decoration-thickness: 0.1rem;
    color: rgba(204, 204, 204, 0.74);
    margin-top: 2rem;
    margin-left: 5rem;
}
